:root {
    --gunmetal: #293744;
    --gunmetal-2: #455d73;
    --pale: #ebd4cb;
    --rosy: #da9f93;
    --tiffany: #7ae1d5;
    --mint: #36bf9d;
}

html, input, select{
    font-family: 'Helvetica', sans-serif;
}
body {
    background-color: var(--gunmetal-2);
    margin: 0;
    display: grid;
    place-content: center;
    height: 100vh;
}
.main {
    background-color: var(--gunmetal-2);
    width: 100%;
    display: grid;
    grid-template-columns: 350px 960px;
}

.panel {
    box-sizing: border-box;
    width: 350px;
    color: white;
    background-color: var(--gunmetal);
    padding: 1rem;
    border-radius: 0.5rem;
}

h1 {
    margin: 0.5rem 0;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
}

h1::after {
    content: " ";
    border: 1px solid var(--tiffany);
    border-radius: 1px;
    margin: 0.5rem 0;
}

h2 {
    font-size: 1rem;
    margin: 0.5rem 0;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.options > div {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#out, #cc-out {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.active {
    /* background-color: var(--mint); */
    background-color: rgb(38, 194, 129) !important;
}

.video {
    transform: scale(-1, 1);
    background-color: var(--gunmetal);
    position: relative;
    /* margin: 1rem; */
    width: 960px;
    height: 720px;
    border-radius: 0.5rem;
    overflow: hidden;
}

.output_canvas {
    position: absolute;
    left: 0;
    top: 0;
}

.hidden {
    display: none;
}

.chvalues {
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
}

/* .channel {
    border: 2px solid white;
    border-radius: 2px;
    padding: 0.2rem;
} */
